.login-section {
    bottom: 0;
    top: 0;
    margin: 0;
    width: -webkit-fill-available;
    border-radius: 5px;
  }
.border-white {
  border-width: 2px !important;
}
.neonText {
  animation: flicker 2.0s infinite alternate;
  color: rgb(186, 150, 209);
}
/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 33%, 47%, 70% {

      text-shadow:
      0 0 5px rgb(132, 16, 209),
      0 0 20px rgb(132, 16, 209),
      0 0 35px rgb(132, 16, 209),
      0 0 40px rgb(132, 16, 209),
      0 0 55px rgb(132, 16, 209),
      0 0 75px rgb(132, 16, 209),
      0 0 80px rgb(132, 16, 209),
      0 0 90px rgb(132, 16, 209);
  
  }
  
  10%, 14%, 35% {        
      text-shadow: none;
  }    
}